<div class="contact-container">
<section class="col-md-12 mt-2">
    <div class="float-end">
        <button type="submit" id="logout" class="btn btn-warning">Logout</button>
        </section>
    </div>



{{#each contacts}}
<div class="contact-container">
<form class="contact-request">
    **************************
    <div>
    REQUEST ID: {{id}}
    </div>
    <div>
    NAME: {{name}}
    </div>
    <div>
    EMAIL: {{email}}
    </div>
    <div>
    PHONE: {{phone}}
    </div>
    <div>
    PREFERRED CONTACT: {{preferred}}
    </div>
    <div>
    SUBJECT: {{request_text}}
    </div>
    <br>
    <button type="submit" class="delete-btn" value="{{id}}">Delete</button>
</form>
</div>
{{/each}}

<script src="/javascript/logout.js"></script>
<script src="/javascript/delete.js"></script>