<button id="logout">Logout</button>

<div>
    **THIS IS THE CONTACT PAGE**
    <div>
    REQUEST ID: {{id}}
    </div>
    <div>
    NAME: {{name}}
    </div>
    <div>
    EMAIL: {{email}}
    </div>
    <div>
    PHONE: {{phone}}
    </div>
    <div>
    PREFERRED CONTACT: {{preferred}}
    </div>
    <div>
    SUBJECT: {{request_text}}
    </div>
</div>


<script src="/javascript/logout.js"></script>