<button id="logout">Logout</button>


{{#each contacts}}
<form class="contact-request">
    **************************
    <div>
    REQUEST ID: {{id}}
    </div>
    <div>
    NAME: {{name}}
    </div>
    <div>
    EMAIL: {{email}}
    </div>
    <div>
    PHONE: {{phone}}
    </div>
    <div>
    PREFERRED CONTACT: {{preferred}}
    </div>
    <div>
    SUBJECT: {{request_text}}
    </div>
    <br>
    <button type="submit" class="delete-btn" value="{{id}}">Delete</button>
</form>
{{/each}}

<script src="/javascript/logout.js"></script>
<script src="/javascript/delete.js"></script>